COMPOSE_PROJECT_NAME=voxa-media
EDGE_NETWORK_NAME=voxa-website-internal

DB_NAME=voxa_media
DB_USER=voxa_media
DB_PASSWORD=replace-with-a-long-random-secret
DB_ROOT_PASSWORD=replace-with-another-long-random-secret

WP_NETWORK_DOMAIN=blog.voxa.vn
WP_FORUM_DOMAIN=forum.voxa.vn
WP_SCHEME=https
WP_URL_PORT=
WP_ADMIN_USER=voxa-admin
WP_ADMIN_PASSWORD=replace-before-bootstrap
WP_ADMIN_EMAIL=admin@voxa.vn
